{% extends "base.html" %}

{% block main %}
                  <div class="post-detail">
                            <header class="entry-header">
                               <h1 class="entry-title">
                                   {{ post.title }}
                               </h1>
                               <div class="entry-meta">
                                      <span class="post-category"><a href="{% url 'YYblog:category' post.category_id %}">{{ post.category.name }}</a></span>
                                      <span class="post-date"><a href="#">
                                                                                      <time class="entry-date" datetime="post.create_time">{{ post.create_time }}</time>
                                                                               </a></span>
                                      <span class="post-author"><a href="{% url 'YYblog:home' post.author_id %}">{{ post.author }}</a></span>
                                      <span class="comments-link"><a href="#"></a>4 Comments</span>
                               </div>
                               </header>
                               <div class="entry-content clearfix">
                                       {{ post.body|safe }}
                               </div>
                       </div>
                       <div  id="interaction">
                       {% if collect  %}
                            <a href="{% url 'YYblog:uncollect' post.id %}" id="beha1">取消收藏</a>
                        {% else %}
                            <a href="{% url 'YYblog:collect' post.id %}" id="beha1">收藏</a>
                        {% endif %}
                        {% if statePost.like == 0 or statePost is None %}
                        <a id="beha2" href="{% url 'YYblog:like' post.id %}" >赞一个</a> 
                        {% elif statePost.like == 1 %}
                        <a id="beha2" href="{% url 'YYblog:unlike' post.id %}" >取消赞</a> 
                        {% endif %}
                        <span id="like-nums" class="glyphicon glyphicon-thumbs-up" aria-hidden="true">&nbsp;{{ likeCount }}</span>
                        {% for message in messages %}
                        <span>{{ message }}</span>
                        {% endfor %}
                       </div>
                       <section class="comment-list">
              <h2>留下你的评论</h2>
              <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
                  {% csrf_token %}
                <div class="row">
                  <div class="col-md-4">
                    <label for="{{ form.name.id_for_label }}">Name:</label>
                                   {{ user.username }}
                                   {{ user.username.errors }}
                  </div>
                  <div class="col-md-4">
                           <label for="{{ form.email.id_for_label }}">Email:</label>
                                     {{ user.email }}
                                     {{ user.email.errors }}
                  </div>
        
                  <div class="col-md-8">
                      <label  for="{{ form.text.id_for_label }}">Comment:</label>
                                     {{ form.text }}
                                     {{ form.text.errors }}
                    <button type="submit"><span>发表</span></button>
                  </div>
                </div>    <!-- row -->
              </form>
              <div class="comment-list">
                <h2>评论列表</h2>
                <ul class="list-unstyled">
                        {% for comment in comment_list %}
                  <li class="comment-item">
                    <span class="name">{{ comment.name }}</span>
                    <time class="date">{{ comment.create_time }}</time>
                    <div class="text">
                                {{ comment.text }}
                    </div>
                  </li>
                       {% empty %}
                       暂无评论！
                       {% endfor %}
                </ul>
              </div>
            </section>
{% endblock main %}
                     