{% extends "post_base.html" %}
{% load YYblog_tags %}


         {% block main %}
         <div class="nav">
         <h2>编辑博客</h2>
           {% for message in messages %}
            <div id="success-message">
             <span class="success-message">{{ message }}</span>
            </div>
        {% endfor %}
        </div>
        <div class="blog">
        <form  method="POST" class="blogform">{% csrf_token %}
         <div class="title">
                   <p>标题：</p>
           <input id="id_title" maxlength="100" name="title" type="text" required value="{{old_post.title}}" />
        </div>
        <div  class="text">
             <p>正文:</p>
           <textarea name="area">{{old_post.body | safe}}</textarea>
            <script>
            CKEDITOR.replace( 'area' , {uiColor: '#9AB8F3'});
        </script>
        </div>
        <div class="category">
        {% categories as category_list %}
         <p>文章类型</p>
         <select name="cate" value="{{category.id}}" class="sele">
          {% for category in category_list %}
                     <option >{{ category.name }}</option>
           {% endfor %}
         </select>
        </div>
        
            <button type="submit" class="pub">确认修改</button>
        </form>
        </div>
         {% endblock main %}

